@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --layout-width: 1150px;

  --header-height: 60px;

  --header-form-width: 361px;
  --header-form-height: 46px;

  --sidebar-width: 356px;

  --color-palette: #fe2c55;
  --color-gray: #000000cc;
  --color-gray-tint: #00000066;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

input,
button {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
