@use '../abstracts' as ab;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: ab.$fs-default;
}

ul {
  list-style: none;
}

a,
input,
button {
  display: inline-block;
  font-size: inherit;
}

a {
  text-decoration: none;
}
