$color-gray-very-tint: #fff;

$color-palette: #8a2b06;
$color-accent: #ad5502;

$color-bg-summary: #383838;

$color-bg-btn: #4d1601;
$color-bg-btn-badge: #b94517;
$color-bg-btn-hover: #2c0d00;
$color-bg-btn-badge-hover: #92320c;
