@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
    --fs-base: 1.8rem;
    --fs-heading: 4.4rem;
    --fs-title: 2.4rem;

    --color-palette: #f0b90b;
    --color-very-dark: #181a20;
    --color-gray: #eaecef;
    --color-gray-light: #fff;

    --padding-heading: 1.8rem 0;
    --padding-title: 1.2rem 0;
    --padding-button: 1.2rem 2.4rem;

    --border-radius: 0.8rem;

    --lh-heading: 1.2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-base);
    background-color: var(--color-very-dark);
    color: var(--color-gray);
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}